@import url("https://use.typekit.net/ghc8hdz.css");

//new fonts
$acumin-pro-condensed: acumin-pro-condensed, "Franklin Gothic",sans-serif;
$acumin-pro-semicondensed: acumin-pro-semi-condensed, "Franklin Gothic",sans-serif;
$acumin-pro: acumin-pro, "Franklin Gothic",sans-serif;
$united-sans: "United Sans",Impact, "Arial Black", "sans serif";
$united-sans-condensed: "United Sans Condensed",Impact, "Arial Black", "sans serif";
$united-sans-extended: "United Sans Extended",Impact, "Arial Black", "sans serif";

// Legacy Fonts Overrides
$font-arial: $acumin-pro;
$font-arial-narrow: $acumin-pro-condensed;
$font-archivo-narrow:$acumin-pro-condensed;
$font-archivo-black:$acumin-pro-semicondensed;
$font-champion-bantam:$acumin-pro;
$font-champion-feather:$acumin-pro;
$font-champion-light:$acumin-pro;
$font-champion-welter:$acumin-pro;
$font-champion-middle:$acumin-pro;
$font-champion-heavy:$united-sans;
$font-fontAwesome:"FontAwesome";
$font-helvetica:$acumin-pro;
