@import url("https://use.typekit.net/ghc8hdz.css");

@import url('https://www.purdue.edu/purdue/fonts/united-sans/united-sans.css');

//new fonts
$acumin-pro-condensed: acumin-pro-condensed, "Franklin Gothic",sans-serif;
$acumin-pro-semicondensed: acumin-pro-semi-condensed, "Franklin Gothic",sans-serif;
$acumin-pro: acumin-pro, "Franklin Gothic",sans-serif;
$united-sans: "United Sans",Impact, "Arial Black", "sans serif";
$united-sans-condensed: "United Sans Condensed",Impact, "Arial Black", "sans serif";
$united-sans-extended: "United Sans Extended",Impact, "Arial Black", "sans serif";

// Legacy Fonts Overrides
$font-arial: $acumin-pro;
$font-arial-narrow: $acumin-pro-condensed;
$font-archivo-narrow:$acumin-pro-condensed;
$font-archivo-black:$acumin-pro-semicondensed;
$font-champion-bantam:$acumin-pro;
$font-champion-feather:$acumin-pro;
$font-champion-light:$acumin-pro;
$font-champion-welter:$acumin-pro;
$font-champion-middle:$acumin-pro;
$font-champion-heavy:$united-sans;
$font-fontAwesome:"FontAwesome";
$font-helvetica:$acumin-pro;

// =====================================
// FontAwesome styles
// TODO: Add license comments for all FontAwesome styles
// =====================================
$fa-font-path: "https://use.fontawesome.com/releases/v5.12.0/webfonts";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";