.bottom {
	background-color: rgba(0, 0, 0, 0.85);
	color: #ccc;
	text-align: center;
	font-size: 0.875rem;
	padding: 1rem 1rem 0.5rem;
	line-height: 1.5;
	font-family: $acumin-pro-semicondensed;

	p {
		padding-bottom: 0.5rem;
		margin-bottom: 0;

		a {
			color: #ccc;
			font-family: $acumin-pro-semicondensed !important;
			font-weight: 400;
		}

		a:hover {
			text-decoration: none;
		}
	}
}

@include display-sm {
	line-height: 1.875rem;
}