.footer {
    width: 100%;
    background-color: #000000;
    overflow: hidden;
    padding-bottom: 15px;

    .panel-group {
        padding: 3.125rem 0 !important;
    }

    // footer links are stacked in expandable accordions
    // with horizontal tagline and social icons underneath
    #accordion {
        margin-bottom: 0;

        .panel {
            border: none;
            background-color: transparent;
            margin-top: 0;
            padding: 15px;
            font-size: 1rem;

            a {
                display: inline-block;
                width: 100%;
            }

            a:link,
            a:visited {
                color: #adadad;
                font-weight: 400;
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: #fff;
                font-weight: 400;
                text-decoration: none;
            }

            .panel-heading {
                padding: 0;
                background-color: transparent;
                font-size: calc-toEm(21);

                .panel-title a {
                    font-family: $acumin-pro-semicondensed;
                    font-weight: 600;
                    padding: 0px;
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                }

                a {
                    display: block;
                }

                a:link,
                a:visited,
                a:hover,
                a:active {
                    color: $boiler-gold;
                    text-decoration: none;
                }
            }

            .panel-collapse {

                .panel-body {
                    border: none;
                    padding: 0;

                    ul {
                        padding: 0;
                        list-style-type: none;
                    }
                }
            }
        }

        .motto {
            clear: both;
            text-align: center;

            .vertical {
                display: flex;
                height: 114px;
                margin: 0 auto;
            }

            .horizontal {
                margin-top: 1.6rem;
                display: none;
            }

            @include display-lg {
                .vertical {
                    max-height: 100px;
                }
            }

            @include display-md {
                .vertical {
                    display: none;
                }

                .horizontal {
                    display: flex;
                    max-width: 400px;
                    margin: 0;
                    width: 100%;
                    max-height: 48px;
                }
            }

            .social {
                padding: 3.125rem 0 0 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                font-size: 1.1rem;

                a {
                    margin: 0.25rem 2.7%;
                    color: #999;
                    font-weight: 700;
                    text-decoration: none;
                }

                a:hover {
                    color: #ffffff;
                }

                @include display-lg {
                    padding-left: 2.09rem;
                }

                @include display-md {
                    font-size: 1.85rem;
                    justify-content: center;
                    border: none;
                    padding-top: 3rem;
                    padding-left: 0;
                }

                @include display-sm {
                    margin-top: 0;
                    font-size: 1.4rem;
                }
            }

            // social icons
            .text-hidden {
                position: absolute;
                display: block;
                top: -1000px;
                left: -1000px;
            }

            .fa-facebook {
                &:before {
                    @include pseudo-icon($fa-var-facebook, 'brands');
                }
            }

            .fa-facebook-square {
                &:before {
                    @include pseudo-icon($fa-var-facebook-square, 'brands');
                }
            }

            .fa-twitter {
                &:before {
                    @include pseudo-icon($fa-var-twitter, 'brands');
                }
            }

            .fa-twitter-square {
                &:before {
                    @include pseudo-icon($fa-var-twitter-square, 'brands');
                }
            }

            .fa-snapchat {
                &:before {
                    @include pseudo-icon($fa-var-snapchat, 'brands');
                }
            }

            .fa-snapchat-square {
                &:before {
                    @include pseudo-icon($fa-var-snapchat-square, 'brands');
                }
            }

            .fa-snapchat-ghost {
                &:before {
                    @include pseudo-icon($fa-var-snapchat-ghost, 'brands');
                }
            }

            .fa-youtube {
                &:before {
                    @include pseudo-icon($fa-var-youtube, 'brands');
                }
            }

            .fa-youtube-square {
                &:before {
                    @include pseudo-icon($fa-var-youtube-square, 'brands');
                }
            }

            .fa-instagram {
                &:before {
                    @include pseudo-icon($fa-var-instagram, 'brands');
                }
            }

            .fa-instagram-square {
                &:before {
                    @include pseudo-icon($fa-var-instagram-square, 'brands');
                }
            }

            .fa-pinterest {
                &:before {
                    @include pseudo-icon($fa-var-pinterest, 'brands');
                }
            }

            .fa-pinterest-square {
                &:before {
                    @include pseudo-icon($fa-var-pinterest-square, 'brands');
                }
            }

            .fa-google-plus {
                &:before {
                    @include pseudo-icon($fa-var-google-plus, 'brands');
                }
            }

            .fa-google-plus-square {
                &:before {
                    @include pseudo-icon($fa-var-google-plus-square, 'brands');
                }
            }

            .fa-linkedin {
                &:before {
                    @include pseudo-icon($fa-var-linkedin, 'brands');
                }
            }

            .fa-linkedin-square {
                &:before {
                    @include pseudo-icon($fa-var-linkedin, 'brands');
                }
            }

            .fa-amazon {
                &:before {
                    @include pseudo-icon($fa-var-amazon, 'brands');
                }
            }

            .fa-amazon-square {
                &:before {
                    @include pseudo-icon($fa-var-amazon, 'brands');
                }

            }

            a:link,
            a:visited {
                color: #999;
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: #fff;
                text-decoration: none;
            }

            img {
                display: block;
                float: none;
                max-width: 100%;
                margin: 0 auto 5px;
            }
        }
    }

    // styles for expanding/contracting accordions
    @media (max-width:767px) {
        #accordion {
            .panel {
                .panel-heading {
                    a {
                        .fa-plus {
                            display: none;
                        }

                        .fa-minus {
                            display: block;
                        }
                    }

                    a.collapsed {
                        .fa-plus {
                            display: block;
                        }

                        .fa-minus {
                            display: none;
                        }
                    }
                }

                .panel-collapse {
                    padding-left: 15px;
                }
            }

            .motto {
                .taglineContainer {
                    width: 80%;

                    &--150 {
                        width: 58%;
                    }
                }
            }
        }
    }

    // footer is 2 columns and 2 rows of footer links and one spanning row for motto and social icons
    // @media (min-width:768px) and (max-width:991px) {
    @media (min-width:768px) {
        padding: 20px 0; // .footer

        #accordion {
            margin: 0 -30px;
            padding: 0 15px 0;

            .panel {
                float: left;
                width: 50%;
                padding: 0 30px 15px;
                border: none;
                font-size: calc-toEm(14);
                line-height: calc-toEm(27);

                .panel-heading {
                    display: block;
                    padding: 0;
                    background-color: transparent;
                    font-size: calc-toEm(21);
                    line-height: 1em;

                    .panel-title {
                        font-family: $font-champion-welter;
                        padding-top: 0;
                        padding-bottom: 5px;
                        font-size: 1em;
                        font-weight: 300;

                        a {
                            cursor: default;
                            color: $color-campusGold;
                            border-bottom: none;
                        }

                        .fa {
                            display: none;
                        }
                    }
                }

                a {
                    padding: 0.5rem 0 0.125rem;
                    font-size: .957rem;
                }

                .panel-collapse {
                    display: block;
                    height: auto !important;
                }
            }

            .motto {
                clear: none;
                text-align: center;

                .taglineContainer {
                    display: block;
                    width: 70%;
                }

                .vertical {
                    display: none;
                }
            }
        }
    }

    // footer is 5 columns, first four contain footer links, 5th column is
    // the vertical tagline and social icons underneath
    // @media (min-width:992px) and (max-width:1199px) {
    @media (min-width:992px) {

        #accordion {
            .panel {
                width: 20%;
                padding: 0 15px;
            }

            .motto {
                float: left;
                width: 20%;

                .taglineContainer {
                    width: auto;

                    &--150 {
                        float: left;
                        width: 70%;
                    }
                }

                .vertical {
                    display: block;
                }

                .horizontal {
                    display: none;
                }
            }
        }
    }
}